body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    /* Removido overflow: hidden; para permitir a rolagem */
}

#background-video {
    position: fixed; /* Mudei para 'fixed' para que o vídeo permaneça em segundo plano mesmo ao rolar */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta o vídeo para cobrir toda a área */
    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
}

.playlist {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative; /* Garante que a playlist fique sobre o vídeo */
}

h1 {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
    font-size: 24px;
}

.music {
    background-color: #1E1E1E;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.music:hover {
    background-color: #333333;
}

.selected {
    background-color: #333333;
}
